html,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  /* background-color: #d79922; */
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
  line-height: 1.6;
  font-family: Montserrat-Regural;
}

p {
  line-height: 30px;
  font-family: Montserrat-Regural;
}

/* stylish cursor */

.rounded {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 100% !important;
  /* transition: all ease-in-out 0.3s; */
  /* box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(247, 14, 14, 0.12) 0px 4px 6px, rgba(255, 174, 0, 0.17) 0px 12px 13px, rgba(173, 3, 3, 0.09) 0px -3px 5px; */
  z-index: 100;
  position: fixed;
}

.pointed {
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 100% !important;
  margin-bottom: 20rem;
  transition: transform 0.1s ease;
}

/* stylish cursor */

a {
  text-decoration: none;
}
li {
  list-style: none;
}
strong {
  font-family: "Montserrat-Medium";
}
@font-face {
  font-family: ITC-Garde-Bold;
  src: url("../font/ITCAvantGardeStd-Bold.ttf");
}
@font-face {
  font-family: ITC-GardePro-Bold;
  src: url("../font/ITCAvantGardePro-Md.woff");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("../font/Montserrat-Light.woff2");
}
@font-face {
  font-family: Montserrat-Regural;
  src: url("../font/Montserrat-Regular.woff2");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../font/Montserrat-Medium.woff2");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../font/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("../font/Montserrat-Bold.woff2");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../font/Montserrat-ExtraBold.woff2");
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #292929;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
  /* outline: 1px solid slategrey; */
  border-radius: 12px;
}

.sec1-banner {
  background-image: url("/img/banner-modified_11zon.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 86vh;
}

/* home social icons */

ul {
  list-style: none;
}

/* From Uiverse.io by CristianMontoya98 */
.sec1-banner .btn,
.sec3-port .btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  animation: pulse 1.7s infinite;
  overflow: hidden;
}
.lottie_header {
  bottom: -50px;
  left: -70px;
}
.sec1-banner button:hover,
.sec3-port button:hover {
  color: black !important;
}

.sec1-banner button:after,
.sec3-port button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.sec1-banner button:hover:after,
.sec3-port button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.un_width {
  width: 200px !important;
}

.sec1-banner .row {
  padding: 10rem 0;
}
.hero-sec {
  background: #00000075;
  height: 86vh;
  backdrop-filter: blur(15px);
  -mox-backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* Safari */
}

.top_nav {
  padding: 1rem 0;
}

.top_nav h3 {
  font-family: ITC-Gardepro-Bold;
  letter-spacing: 2px;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 800;
}

.intro h1 {
  font-size: 110px;
  font-family: ITC-Gardepro-Bold;
  font-weight: 800;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.intro h2 {
  font-size: 62px;
  font-family: Montserrat-Medium;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 18px;
}

.intro h4 {
  font-family: "Montserrat-Regural";
  color: #cbcbcb;
  font-size: 40px;
  padding-top: 4rem;
  text-transform: uppercase;
}

.info_lottie {
  position: absolute;
  right: 20px;
}

.top_to_bottom a {
  display: block;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 365px;
  right: 0;
  transform: rotate(90deg);
}

.top_to_bottom a i {
  transform: rotate(270deg);
  display: block;
  /* position: relative; */
  /* width: 0px; */
  position: absolute;
  right: 0px;
  top: 14px;
  left: 178px;
}

.profile-section {
  width: 300px;
  height: 600px;
  background-image: url("/img/mobile-bg.webp");
  position: relative;
  background-color: #111;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.profile-section .navbar {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.profile-section h2 {
  font-size: 20px;
  font-family: ITC-Garde-Bold;
  color: #ffff;
}

.profile-section .logo {
  width: 40px;
  height: auto;
}

.nav-icons {
  list-style-type: none;
  margin-top: 20px;
}

.nav-icons li {
  margin-bottom: 10px;
}

.nav-icons li a {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.content {
  margin-top: 100px;
}

.title {
  font-size: 35px;
  letter-spacing: 7px;
  font-family: "ITC-GardePro-Bold";
  font-weight: 800;
  color: #ffff;
  text-transform: uppercase;
}
.content h2 {
  font-size: 35px;
  letter-spacing: 2px;
  font-family: "ITC-GardePro-Bold";
  font-weight: 800;
  color: #ffff;
  text-transform: uppercase;
}
.subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
}

.profile-image {
  margin-top: 40px;
  border-radius: 38% 62% 52% 47% / 48% 77% 19% 52%;
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
  /* padding: 4rem; */
  display: flex;
  justify-content: center;
}

.profile-image img {
  width: 345px;
  height: 345px;
  margin-top: -136px;
}

.page-number {
  position: absolute;
  bottom: 20px;
  font-family: "ITC-GardePro-Bold";
  right: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  border-bottom: 3px solid;
}

.bg-moving .bg-leave {
  border-radius: 100% 0% 100% 0% / 100% 18% 82% 0%;
  background-color: #111;
  padding: 1rem;
}
.bg-leave-2 {
  border-radius: 47% 53% 81% 19% / 53% 41% 59% 47%;
  background-color: #111;
  padding: 1rem;
}

/* From Uiverse.io by mobinkakei */
.loader {
  --path: #ffffff;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

.loader-parent {
  margin-top: 4rem;
  margin-bottom: -2rem;
}

.sec2-creative {
  margin: 7rem 7rem;
  background-color: #111;
  height: auto;
  position: relative;
}

.port_disrip {
  border-radius: 27% 73% 58% 42% / 34% 45% 55% 66%;
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
  padding: 3rem;
  height: 585px;
  overflow: hidden;
  width: 90%;
}

.sec3-port .port_disrip {
  border-radius: 27% 73% 58% 42% / 34% 45% 55% 66%;
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
  padding: 3rem;
  height: 425px;
  overflow: hidden;
  width: 75%;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.sec3-port .port_disrip img {
  height: 560px;
  width: 560px;
  margin-bottom: 30px;
  margin-left: -94px;
  position: relative;
  top: -180px;
}

.my_intro li {
  list-style: disc;
  margin-left: 20px;
  color: white;
}
.nav_brand li a {
  color: white;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
}
.nav_brand li:hover a {
  color: rgba(233, 30, 99, 1);
}
.page_no h3 {
  font-family: "ITC-Garde-Bold";
  color: white;
  font-size: 140px;
  border-bottom: 4px solid white;
  display: inline;
  position: absolute;
  bottom: 25px;
  left: 32px;
}
.sec2-creative .top_to_bottom a {
  top: unset;
  bottom: 200px;
}

/* .sec3-port .process-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.sec3-port h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'ITC-GardePro-Bold';
  color: #FFFFFF;
}
.sec3-port h2 span {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Beauty-Font';
  margin-bottom: -80px;
  background-image: linear-gradient(#ff4848, #fd9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animName2 1s infinite;
}
.sec3-port .process-step {
  margin-bottom: 25px;
}

.sec3-port .process-step p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
}

.sec3-port .progress-bar {
  position: relative;
  background-color: #eee;
  border-radius: 50px;
  height: 12px;
  width: 100%;
}

.sec3-port .progress {
  background:linear-gradient(90deg, rgba(233,30,99,1) 33%, rgb(170, 0, 57) 88%, rgb(133, 0, 46) 100%);
  height: 100%;
  border-radius: 50px;
  display: block;
  animation: identifier 1s infinite;
}

.sec3-port .progress-label {
  position: relative;
  right: -50px;
  top: -10px;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 62% 75%, 51% 100%, 37% 75%, 0% 75%);
  color: #fa0c4b;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  height: 42px;
  display: grid;
  place-items: center;
  width: 50px;
  align-items: normal;
  
}

.port_intro p {
  color: white;
  margin-top: -20px;
  
} */

@keyframes identifier {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #da3f46;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.skills-section {
  text-align: center;
  max-width: 800px;
  margin: 20px;
}

.skills-section h2 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
  font-family: Montserrat-Medium;
}

.skills-category {
  margin-bottom: 40px;
}

.skills-category h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #fff;
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.skill-item {
  background: #e30a54;
  animation: pulse 1.7s infinite;
  color: #fff;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  display: flex;
  /* width: 130px; */
  align-items: center;
  justify-content: space-between;
  transform: scale(1);
  transition: all 0.3s ease-in-out !important;
}

.skill-item:hover {
  background: rgb(160, 1, 75);
  transition: all 0.3s ease-in-out !important;
  transform: scale(1.1) !important;
}

.css_icon {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.css_icon img {
  /* mix-blend-mode: color-burn; */

  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #ff646b;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

/* From Uiverse.io by mobinkakei */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.dots_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -85px;
  /* margin-bottom: -65px; */
  position: relative;
}
.dots_parent_2 {
  /* top: -10px; */
  margin: 0 auto;
  position: absolute;
}

/* From Uiverse.io by Praashoo7 */

.balls_main {
  height: 100%;
  display: flex;
  justify-content: center;
}

.balls_main .main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.balls_main .loaders,
.balls_main .loadersB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.balls_main .loader {
  position: absolute;
  width: 1.15em;
  height: 13em;
  border-radius: 50px;
  background: #e0e0e0;
}
.balls_main .loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.15em;
  height: 5em;
  background: #e0e0e0;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  box-shadow: inset 5px 5px 15px #d3d2d2ab, inset -5px -5px 15px #e9e9e9ab;
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 48px),
    transparent 100%
  );
}
.balls_main .loader::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.15em;
  height: 4.5em;
  background: #e0e0e0;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  box-shadow: inset 5px 5px 15px #d3d2d2ab, inset -5px -5px 15px #e9e9e9ab;
  mask-image: linear-gradient(
    to top,
    black calc(100% - 48px),
    transparent 100%
  );
}
.balls_main .loaderA {
  position: absolute;
  width: 1.15em;
  height: 13em;
  border-radius: 50px;
  background: transparent;
}
.balls_main .ball0,
.balls_main .ball1,
.balls_main .ball2,
.balls_main .ball3,
.balls_main .ball4,
.balls_main .ball5,
.balls_main .ball6,
.balls_main .ball7,
.balls_main .ball8,
.balls_main .ball9 {
  width: 1.15em;
  height: 1.15em;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
    0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: rgb(255, 7, 81);
  animation: 3.63s move ease-in-out infinite;
}
.balls_main .loader:nth-child(2) {
  transform: rotate(20deg);
}
.balls_main .loader:nth-child(3) {
  transform: rotate(40deg);
}
.balls_main .loader:nth-child(4) {
  transform: rotate(60deg);
}
.balls_main .loader:nth-child(5) {
  transform: rotate(80deg);
}
.balls_main .loader:nth-child(6) {
  transform: rotate(100deg);
}
.balls_main .loader:nth-child(7) {
  transform: rotate(120deg);
}
.balls_main .loader:nth-child(8) {
  transform: rotate(140deg);
}
.balls_main .loader:nth-child(9) {
  transform: rotate(160deg);
}

.balls_main .loaderA:nth-child(2) {
  transform: rotate(20deg);
}
.balls_main .loaderA:nth-child(3) {
  transform: rotate(40deg);
}
.balls_main .loaderA:nth-child(4) {
  transform: rotate(60deg);
}
.balls_main .loaderA:nth-child(5) {
  transform: rotate(80deg);
}
.balls_main .loaderA:nth-child(6) {
  transform: rotate(100deg);
}
.balls_main .loaderA:nth-child(7) {
  transform: rotate(120deg);
}
.balls_main .loaderA:nth-child(8) {
  transform: rotate(140deg);
}
.balls_main .loaderA:nth-child(9) {
  transform: rotate(160deg);
}

.balls_main .ball1 {
  animation-delay: 0.2s;
}
.balls_main .ball2 {
  animation-delay: 0.4s;
}
.balls_main .ball3 {
  animation-delay: 0.6s;
}
.ball4 {
  animation-delay: 0.8s;
}
.balls_main .ball5 {
  animation-delay: 1s;
}
.balls_main .ball6 {
  animation-delay: 1.2s;
}
.balls_main .ball7 {
  animation-delay: 1.4s;
}
.balls_main .ball8 {
  animation-delay: 1.6s;
}
.balls_main .ball9 {
  animation-delay: 1.8s;
}

@keyframes move {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(12em);
  }
  100% {
    transform: translateY(0em);
  }
}

/* From Uiverse.io by aadium */

.home_social_icons {
  position: fixed;
  left: 15px;
  bottom: 20px;
  width: 10%;
  z-index: 20;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  box-shadow: 0px 0px 15px #00000027;
  padding: 7px 0px;
  border-radius: 5em;
  width: 185px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #44ad3a;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #129e19;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

/* .instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
} */

.instagram:hover svg {
  fill: #c13584;
}

/* .sec4_ourwork  */

.middle_lottie {
  position: absolute;
  left: -300px;
  bottom: -422px;
}

.sec4_ourwork {
  background-color: #111;
  height: auto;
  /* padding: 2rem 0; */
}

.fluid_parent {
  background-color: #111;
  padding: 2rem;
}

.sec4_ourwork h2 {
  font-family: "ITC-Garde-Bold";
  font-size: 60px;
  color: white;
  text-align: center;
  padding: 2rem 0;
}
.port_lottie {
  position: absolute;
  right: 0px;
  top: -342px;
}
.sec4_ourwork main {
  padding: 7rem 7rem;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
}
.uncard_parent {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: center;
}

.sec4_ourwork  .tab-content {
  padding-top: 3rem;
}
.nav-tabs {
    display: flex;
    justify-content: center;
    /* gap: 12px; */
    border: none;
}
.sec4_ourwork  .card {
  background-color: #2a2a3e;
  border: none;
  color: #ffffff;
  border-radius: 12px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.sec4_ourwork  .card:hover{
  box-shadow: rgba(184, 0, 63, 1) 2px 2px 8px 2px;
  /* transform: scale(1); */
  transform: translateY(-15px);

}
.card-body {
  background-color: #343434 !important;
  border-radius: 0px 0px 20px 20px;
  padding: 1rem;
  position: relative;
  z-index: 2;
}
.sec4_ourwork  .card .tags span {
  background-color: rgba(184, 0, 63, 1);
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 12px;
  margin-right: 5px;
}
.sec4_ourwork  .card img {
  border-radius: 12px 12px 0 0;
  transition: all .4s
   ease-in-out;
}
.card_img img{
  max-height: 260px;
  z-index: 1;
}
.sec4_ourwork  .card img:hover{
  transform: scale(1.1);
}
.sec4_ourwork  .nav-tabs .nav-link {
  color: #ff0e61;
  font-family: 'ITC-GardePro-Bold';
  background: #ffffff26;
  border: none;
  /* margin-right: 5px; */
  border-radius: 0;
  border: 3px solid rgba(184, 0, 63, 1);
  font-size: 18px;
}
.sec4_ourwork  .nav-tabs .nav-link:nth-child(1){
  border-radius: 25px 0px 0px 25px;
}
.sec4_ourwork  .nav-tabs .nav-link:nth-child(4){
  border-radius: 0px 25px 25px 0px;
}
.sec4_ourwork  .nav-tabs .nav-link.active {
  background-color: rgba(184, 0, 63, 1);
  color: #ffffff;
}



/* .sec4_ourwork main .container-fluid {
 
} */

/* .sec4_ourwork .main {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .sec4_ourwork .card {
    background: white;
    color: black;
    border-radius: 2px;

    &-image {
      background: white;
      display: block;
      padding-top: 70%;
      position: relative;
      width: 20%;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
} */
/* .sec4_ourwork .card {
  border: none !important;
  filter: brightness(0.5);
}
.sec4_ourwork .card:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  position: relative;
  z-index: 5;
  border: none !important;
  filter: brightness(1);
}
.card-image img {
  width: 100%;
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}

.card-image {
  overflow: hidden;
  height: 300px;
} */

/* .card-image img:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 4;
} */
/* .sec4_ourwork .col-2 {
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .sec4_ourwork .main {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }
} */

/* .sec4_ourwork  */

/* sec5_contactUs */

.sec5_contactUs {
  background-color: #111;
  padding: 0rem 7rem;
}

.child_contact {
  background: linear-gradient(
    90deg,
    rgba(233, 30, 99, 1) 33%,
    rgba(224, 0, 76, 1) 88%,
    rgba(184, 0, 63, 1) 100%
  );
  height: auto;
  padding: 5rem;
}

.sec5_contactUs h2 {
  font-family: "ITC-Garde-Bold";
  font-size: 60px;
  background: -webkit-linear-gradient(#ffd3d3, rgb(255 0 87));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 2rem 0;
  padding: 2rem 0;
  position: relative;
  z-index: 2;
}

/* .contact_form form {
  background-color: #111;
  padding: 2rem;
  border-radius: 15px;
  color: white;
} */
/* From Uiverse.io by JkHuger */
.sec5_contactUs .singup {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  /* margin-top: 1.5em; */
  font-family: "ITC-Garde-Bold";
}

.sec5_contactUs .card {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  min-height: 350px;
  width: 70%;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #000000;
  /* box-shadow: 0px 16px 32px #c8c8c8, -16px -16px 32px #fefefe; */
  border-radius: 8px;
  border: 4px solid black;
}

.sec5_contactUs .inputBox,
.sec5_contactUs .inputBox1 {
  position: relative;
  width: 90%;
}

.sec5_contactUs .inputBox input,
.sec5_contactUs .inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 1em;
  background: #ffffff26;
  border-left: 2px solid #bf0041;
  border-bottom: 2px solid #bc0041;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.sec5_contactUs .inputBox span,
.sec5_contactUs .inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 160px;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.sec5_contactUs .inputBox input:valid ~ span,
.sec5_contactUs .inputBox input:focus ~ span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #bc0040;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.sec5_contactUs .inputBox1 input:valid ~ span,
.sec5_contactUs .inputBox1 input:focus ~ span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #bc0040;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.sec5_contactUs .inputBox input:valid,
.sec5_contactUs .inputBox input:focus,
.sec5_contactUs .inputBox1 input:valid,
.sec5_contactUs .inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.sec5_contactUs .enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background: #bc0040;
  transition: 0.5s;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  letter-spacing: 2px;
  margin-bottom: 3em;
  font-family: "ITC-Garde-Bold";
}

.sec5_contactUs .enter:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.connect_us {
  display: grid;
  place-items: center;
  position: relative;
  z-index: 10;
}

.contact_form {
  position: relative;
  z-index: 10;
}
.connect_us .call {
  background-color: #000;
  width: 405px;
  border-radius: 50px;
  padding: 10px 10px;
  display: block;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  margin: 15px 0;
  transition: all 0.3s ease-in-out;
  animation: pulse1 1.7s infinite;
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #000000;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.connect_us .call:hover {
  background-color: #fff;
  color: #000;
}

.call i {
  padding: 12px 16px;
  background-color: #bc0040;
  border-radius: 50%;
}
.whatsapp i {
  background-color: #0bc105;
}
.mailto i {
  background-color: #1db1f9;
}

.contact_lottie {
  bottom: -103px;
  left: -24px;
}

.contact_lottie2 {
  right: 0;
  top: -208px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: -166px;
}

/* From Uiverse.io by mi-series */
.contact_form .btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #bb0040;
  min-width: 188px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 12px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}
.contact_form .btn:hover {
  opacity: 0.95;
}

.contact_form .btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

/* sec5_contactUs */

/* footer */

footer {
  background-color: #111;
  height: 20vh;
}

/* footer */

/* From Uiverse.io by ZacharyCrespin */
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

footer .loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
}

footer .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

footer .loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

footer .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

footer .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

footer .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

footer .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

footer .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

footer .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

footer .loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

footer .loader_parent {
  display: flex;
  justify-content: center;
  margin-top: 3.3rem;
}

.un_padding {
  padding-bottom: 5rem;
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .port_disrip {
    height: 470px;
  }
  .top_to_bottom a {
    font-size: 20px;
  }
  .sec2-creative .top_to_bottom a {
    bottom: 100px;
    right: -28px;
  }
  .top_to_bottom a i {
    right: 0px;
    top: 10px;
    left: 150px;
  }
  .port_disrip {
    margin-left: 3rem;
  }
  .mb_intro {
    display: flex;
    justify-content: center;
  }
  .sec5_contactUs .card {
    width: 100%;
  }
  .top_nav {
    padding: 1rem 1rem;
  }
  .sec2-creative {
    margin: 6rem 6rem;
  }
  .page_no h3 {
    font-size: 110px;
  }
  .intro h2 {
    font-size: 48px;
  }
  .intro h1 {
    font-size: 90px;
  }
  .contact_lottie2 {
    right: 0px;
    top: -148px;
  }
  .lottie_header {
    width: 295px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .port_disrip {
    height: 370px;
  }
  .top_to_bottom a {
    font-size: 20px;
  }
  .sec2-creative .top_to_bottom a {
    bottom: 100px;
    right: -28px;
  }
  .top_to_bottom a i {
    right: 0px;
    top: 10px;
    left: 150px;
  }
  .port_disrip {
    margin-left: 3rem;
  }
  .mb_intro {
    display: flex;
    justify-content: center;
  }
  .sec5_contactUs .card {
    width: 100%;
  }
  .top_nav {
    padding: 1rem 1rem;
  }
  .sec2-creative {
    margin: 6rem 6rem;
  }
  .page_no h3 {
    font-size: 110px;
  }
  .intro h2 {
    font-size: 37px;
  }
  .intro h4 {
    font-size: 34px;
  }
  .intro h1 {
    font-size: 75px;
  }
  .contact_lottie2 {
    right: 0px;
    top: -148px;
  }
  .lottie_header {
    width: 295px;
  }
  .sec2_intro_parent {
    display: flex;
    justify-content: center;
  }
  .sec3-port .port_disrip {
    width: 420px;
  }
  .sec3-port .port_disrip img {
    margin-left: -110px;
  }
  .connect_us .call {
    width: 280px;
  }
  .port_lottie {
    right: -120px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {
  .sec5_contactUs .inputBox span,
  .sec5_contactUs .inputBox1 span {
    left: 145px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .port_disrip {
    height: 370px;
  }
  .top_to_bottom a {
    font-size: 20px;
  }
  .sec2-creative .top_to_bottom a {
    bottom: 100px;
    right: -28px;
  }
  .top_to_bottom a i {
    right: 0px;
    top: 10px;
    left: 150px;
  }
  .port_disrip {
    margin-left: 3rem;
  }
  .mb_intro {
    display: flex;
    justify-content: center;
  }
  .sec5_contactUs .card {
    width: 100%;
  }
  .top_nav {
    padding: 1rem 1rem;
  }
  .sec2-creative {
    margin: 6rem 5rem;
  }
  .sec4_ourwork main {
    padding: 5rem 5rem;
  }
  .page_no h3 {
    font-size: 110px;
  }
  .intro h2 {
    font-size: 37px;
  }
  .intro h4 {
    font-size: 34px;
  }
  .intro h1 {
    font-size: 75px;
  }
  .contact_lottie2 {
    right: 0px;
    top: -148px;
  }
  .lottie_header {
    width: 295px;
  }
  .sec2_intro_parent {
    display: flex;
    justify-content: center;
  }
  .sec3-port .port_disrip {
    width: 85%;
  }
  .sec3-port .port_disrip img {
    margin-left: -155px;
  }
  .connect_us .call {
    width: 280px;
  }
  .port_lottie {
    right: -100px;
  }
  .child_contact {
    padding: 3rem;
  }
  .connect_us .call {
    width: 230px;
  }
  .sec5_contactUs {
    padding: 0rem 5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1050px) {
  .sec5_contactUs .inputBox span,
  .sec5_contactUs .inputBox1 span {
    left: 145px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sec1-banner .row {
    padding: 4rem 0;
  }
  .nav_brand li a {
    font-size: 16px;
  }
  .top_nav h3 {
    font-size: 18px;
  }
  .port_disrip {
    height: 370px;
    width: 62%;
  }
  .port_parent {
    display: flex;
    justify-content: center;
  }
  .top_to_bottom a {
    font-size: 19px;
  }
  .sec1-banner .top_to_bottom a {
    top: 580px;
  }
  .unique_lottie {
    display: flex;
    justify-content: center;
  }
  .sec2-creative .top_to_bottom a {
    bottom: 100px;
    right: -28px;
  }
  .top_to_bottom a i {
    right: 0px;
    top: 10px;
    left: 150px;
  }
  .mb_intro {
    display: flex;
    justify-content: center;
  }
  .sec5_contactUs .card {
    width: 100%;
  }
  .top_nav {
    padding: 1rem 1rem;
  }
  .sec2-creative {
    margin: 6rem 2rem;
  }
  .sec4_ourwork main {
    padding: 5rem 2rem;
  }
  .page_no h3 {
    font-size: 110px;
  }
  .intro h2 {
    font-size: 23px;
  }
  .intro h4 {
    font-size: 23px;
  }
  .intro h1 {
    font-size: 55px;
  }
  .contact_lottie2 {
    right: 0px;
    top: -148px;
  }
  .lottie_header {
    width: 295px;
  }
  .sec2_intro_parent {
    display: flex;
    justify-content: center;
  }
  .sec3-port .port_disrip {
    width: 60%;
}
.sec3-port .port_disrip img {
  margin-left: -132px;
}
  .connect_us .call {
    width: 280px;
  }
  .port_lottie {
    right: -100px;
  }
  .child_contact {
    padding: 3rem;
  }
  .un_disrip {
    display: flex;
    justify-content: center;
  }
  .connect_us .call {
    width: 230px;
  }
  .sec5_contactUs {
    padding: 0rem 5rem;
  }
  .profile-section {
    width: 300px;
    height: 490px;
  }
  .profile-section .content {
    margin-top: 35px;
  }
}
